/target
/Cargo.lock
.vscode
*.whl
build
*.egg-info
__pycache__
*.so
.DS_Store
html
Pipfile.lock

# Ignore automatically-created version file
_version.py

# Ignore local virtual environments
.venv

.pytest_cache

